html,body{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

.menu{
    color:white;
    background-color: #ca1d16;
    height: 50px;
}
.desplegable{
    color:white;
    background-color: #b21c12;
    font-size: 20px;
    padding: 15px;
    margin-left: 10px;
}
.letras img{
    filter: brightness(0) invert(100);
}
