html,body{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color:rgb(255, 255, 255);
    width: 1300px;
    height: 580px;
}
.flex-container > div{
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    line-height: 75px;
    font-size: 50px;
    color: aliceblue;
    padding: 5px;

}
.flex-container {
    width: auto;
    height: auto;
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
}
.body{
    display:flex;
    justify-content:center;
    align-items: center;
}