html,body{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color:rgb(255, 255, 255);
    width: 1300px;
    height: 580px;
}
.flex-container > div{
    width: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    font-size: auto;
    color: aliceblue;
    padding: 5px;

}
.flex-container {
    width: 950px;
    height: 95vh;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body{
    display:flex;
    justify-content:center;
    align-items: center;
}