html,body{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color:rgb(255, 255, 255);
    width: 1300px;
    height: 580px;
}
.flex-container > div{
    width: auto;
    height: 2.5rem;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 5px;

}
.flex-container {
    width: 950px;
    height: 95vh;
    display: flex;
}
.body{
    display:flex;
    justify-content:center;
    align-items: center;
}
.flex-container > div:nth-child(1){
    flex-grow: 0;
}
.flex-container > div:nth-child(2){
    flex-grow: 2;
}
.flex-container > div:nth-child(3){
    flex-grow: 0;
}
.flex-container > div:nth-child(4){
    flex-grow: 1;
}
.flex-container > div:nth-child(5){
    flex-grow: 3;
}
.flex-container > div:nth-child(6){
    flex-grow: 0.5;
}